@charset 'UTF-8'

body { 
    font-family: 'Inter', sans-serif; 
}

.font-serif { 
    font-family: 'Playfair Display', serif; 
}

.card-especialidade {
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}